@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Poppins:wght@200;300&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
   text-transform: capitalize;
   text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: #f9f9f9;
}

section{
    min-height: 100vh;
    padding: 0 8%;
    padding-top: 8rem;
}
.btn{
    background: linear-gradient(90deg,purple ,#f83292);
    margin-top: 1.5rem;
    padding: 0.9rem 3rem;
    display: inline-block;
    color: #f9f9f9;
    border-radius: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.4s;
}
.btn:hover{
    transform: scale(1.1);
}

.heading {
    font-size: 3.5rem;
    background: linear-gradient(90deg ,purple,#f83292);
    color: transparent;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1.7rem 9%;
    z-index: 1000;
    background: #f9f9f9;
}

.logo{
    color: purple;
    font-size: 2.3rem;
}
.logo span{
    color: pink;
}
.navbar{
    background: #f9f9f9;
}

.navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    
}
.navbar a:hover{
    color: rgb(255, 47, 82);
}
header input{
    display: none;
}
header label{
    font-size: 2.3rem;
    color: purple;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;

}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/home-bg-img.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .image img{
    width: 40vw;
    animation: animate 3.2s linear infinite;
}

@keyframes animate{
    0% ,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.home .info h3{
    font-size: 5.7rem;
    color: #333;
    text-transform: uppercase;
}
.home .info h3 span{
    color: rgb(255, 108, 132);
    text-transform: uppercase;
}
.home .info p{
    font-size: 1.6rem;
    padding: 2rem 0;
    color: #333;
}

.features .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.features .container .box{
    text-align: center;
    flex: 1 1 30rem;
    margin: 3rem;
    padding: 3rem 2rem ;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.7rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.features .container .box:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.features .container .box img{
    height: 15rem;
}
.features .container .box h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}
.features .container .box p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}

.about{
    background: url(./images/about-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.about .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about .column .image{
    flex: 1 1 40rem;
}
.about .column .image img{
    width: 100%;
}
.about .column .info{
    flex: 1 1 40rem;
}
.about .column .info h3{
    font-size: 3rem;
    color: #333;
}
.about .column .info p{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.about .column .info .btns a{
    margin-right: 2rem;
}

.pricing .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
     margin-top: 2rem;
}
.pricing .container .box{
    text-align: center;
    flex: 1 1 30rem;
    margin: 3rem;
    padding: 3rem 2rem ;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.7rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.pricing .container .box:hover{
    border: 0.1rem solid #f83292;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4)
}
.pricing .container .box ul{
    list-style: none;
}
.pricing .container .box ul li{
    margin: 0.5rem;
    font-size: 1.5rem;
    color: black;
    padding: 0.7rem 0;
}
.pricing .container .box ul li .fa-check{
    color:green;
}
.pricing .container .box ul li .fa-times{
    color: tomato;
}
.pricing .container .box h3{
    color: purple;
    font-size: 3rem;
}
.pricing .container .box .price{
    font-size: 4rem;
    color: #f83292;
    margin: 1rem 0;
}
.pricing .container .box .price span{
    font-size: 2rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}
.contact .image{
    flex: 1 1 40rem;
   
}
.contact .image img{
    width: 100%;
    padding: 2rem;
}
.contact form{
    flex: 1 1 40rem;
    padding: 2rem 3rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 1rem;
   
}
.contact form .heading{
    text-align: left;
    margin-bottom: 1.5rem;
}
.contact form .inpt input, .contact form .inpt textarea{
    width: 100%;
    padding-bottom: 0.5rem;
    margin: 1.5rem 0;
    border: none;
    border-bottom: 0.1rem solid #666;
    font-size: 1.5rem;
}
.contact form .inpt textarea{
    resize: none;
    height: 11rem;
}
.contact form .inpt label{
    font-size: 1.4rem;
}

.contact form .btn{
    border: none;
    outline: none;
}

.footer{
    background: url(./images/footer-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh ;
}

.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}
.footer .container .box{
    flex: 1 1 30rem;
    margin: 2rem;;
}
.footer .container .box .heading{
    color: #fff;
    font-size: 3rem;
    text-align: left;
}
.footer .container .box a{
    font-size: 1.7rem;
    display: block;
    color: #f9f9f9;
    margin: .6rem 0;
}
.footer .container .box p{
  font-size: 1.7rem;
  color: #f9f9f9;
  

}
.footer .container .box i{
    margin-top: 2rem;
    font-size: 2rem;
    color: purple;
    letter-spacing: 0.3rem;
    
}
.copyright{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    color: #333;
   
}











/* ------media queries-------- */

@media(max-width :1200px){
    html{
        font-size: 58%;
    }
}
@media(max-width :991px){
    section{
        
        padding: 0 4%;
        padding-top: 8rem;
    }
}

@media(max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 2rem;
        border-top: 0.1rem solid black;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: transform 0.5s;
    }
    header .navbar a{
        display: block;
        margin: 1.7rem;
        font-size: 2rem;
    }

    header input:checked ~.navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }
    .home .image img{
        width: 100%;
    }
    .home .info p{
        font-size: 1.6rem;

    }
    .home .info h3{
        font-size: 3.6rem;

    }
    .about{
        background-position: right ;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .about .column .info .btns a{
        width: 100%;
        text-align: center;
    }
    .about .column .info .btns a:last-child{
       
        margin: 1rem 0;
    }
} 